@tailwind base;
@tailwind components;
@tailwind utilities;

#top-section{
    background-image: url("pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-size:cover;
}

@media (min-width:768px) {
    #top-section{
        background-image: url("pattern-bg-desktop.png");
    }
}


--primary: hsl(0, 0%, 59%);